<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-messaging-extension"
      version="1.1.4">

    <name>Cordova Plugin Firebase Messaging Extension</name>
    <description>Cordova plugin to extend Firebase messaging to a project with Intercom</description>
    <license>MIT</license>
    <keywords>cordova</keywords>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=8.0.0"/>
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseMessagingExtension">
                <param name="android-package" value="ca.koho.cordova.plugin.firebase.messaging.FirebaseMessagingExtensionPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="ca.koho.cordova.plugin.firebase.messaging.FirebaseMessagingExtensionService" android:exported="false">
                <intent-filter android:priority="999">
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/FirebaseMessagingExtensionService.java"
            target-dir="src/ca/koho/cordova/plugin/firebase/messaging" />
        <source-file src="src/android/FirebaseMessagingExtensionPlugin.java"
            target-dir="src/ca/koho/cordova/plugin/firebase/messaging" />
    </platform>
</plugin>